<<<<<<< HEAD
h1 {
  text-transform: lowercase;
  color: blueviolet;
}
h2 {
  text-align: right;
  color: lemonchiffon;
  font-family: "Pacifico", cursive;
}
h3 {
  font-size: 58px;
  color: red;
  font-family: "Ballet", cursive;
}
=======
body {
    background-color: grey;
}

div {
    width: 200px;
    height: 200px;
    background-color: pink;
}
>>>>>>> e39521936d03ebb93cdc6257c2780443dcf70538
