#header {
  border: 3px solid black;
  display: flex;
  width: auto;
  height: 150px;
  background-color: silver;
  margin: 1% auto;
}

#leftHeader {
  border: 3px solid black;
  width: 65%;
  background-image: url("./img/headerbooks.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

#rightHeader {
  border: 3px solid black;
  width: 35%;
  background-image: url("./img/headerbooks.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
#rightHeaderTitle {
  margin-top: 25px;
  margin-bottom: 0 auto;
  text-align: center;
  /* align-content: center;
  align-items: center; */
}

#headerList {
  font-family: "Megrim", cursive;
  color: #540b0e;
  margin-top: 25px;
  margin-right: 5px;
  margin-left: 9vw;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

#background {
  color: #225c67;
  background-color: #540b0e;
  margin: 1% auto;
  width: 95vw;
  height: auto;
  /* background-image: url("https://images.unsplash.com/photo-1529148482759-b35b25c5f217?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fGxpYnJhcnl8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"); */
  background-repeat: repeat;
  background-position: center top;
  background-size: contain;
}

#hero {
  display: block;
  position: relative;
  width: 100vw;
  height: 25vh;
}
#heroBanner {
  margin: 1% auto;
  width: 85vw;
  height: 25vh;
  background-image: url("./img/books.jpg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center top;
  background-size: contain;
}

#heroWords {
  font-family: "Medula One", cursive;
  position: absolute;
  margin-top: 125px;
  margin-left: 35%;
  color: #fff3b0;
  font-size: 65px;
}
#main {
  font-family: "Pinyon Script", cursive;
  font-size: 70px;
  text-align: center;
  color: #540b0e;
}

h1 {
  margin-left: 50px;
  text-align: left;
  font-size: 45px;
  text-decoration: black underline;
}
.info {
  /* background-color: white; */
  border-top: solid 3px #225c67;
  border-bottom: solid 3px #225c67;
  margin: 0 auto;
  color: #540b0e;
  list-style: none;
}
.info:nth-child(odd) {
  background-color: #f6f0d2;
}

li {
  font-family: "Averia Serif Libre", cursive;
  margin-left: 50px;
  font-size: 25px;
}
#genreList {
  border: 3px solid black;
  list-style: none;
  width: 15%;
}
#titleList {
  border: 3px solid black;
  width: 15%;
}
#authorList {
  border: 3px solid black;
  list-style: none;
  width: 15%;
}
#descriptionList {
  border: 3px solid black;
  list-style: none;
  width: 20%;
}

#search {
  border: 3px solid black;
}
#searchBar {
  text-align: center;
  width: 75%;
  height: 25px;
  margin-left: 50px;
  align-items: center;
}

#searchLabel {
  text-align: center;
}

#searchButton {
  height: 31px;
  width: 100px;
}
#mainBookList {
  display: flex;
  flex-direction: row;
  background-color: #fff3b0;
  width: 84vw;
  height: 100vh;
  text-align: left;
  margin-left: 8vw;
}

#formMain {
  background-color: #8c5d17;
  margin-left: 8vw;
  margin-right: 3vw;
  margin-bottom: 25px;
}
#formFieldTitle {
  font-family: "Megrim", cursive;
  text-decoration-line: overline underline;
  text-align: center;
  color: #540b0e;
}

#formFields {
  /* border: 3px solid black; */
  width: 84vw;
  height: 9vh;
  /* margin: 10px auto; */
  margin-bottom: 0px;
  text-align: center;
  color: #540b0e;
}

#title {
  margin-left: 23px;
  margin-bottom: 20px;
}

#author {
  margin-left: 8px;
  margin-bottom: 20px;
}

#genre {
  margin-left: 14px;
}
#description {
  margin-right: 25px;
  margin-left: 25px;
}
#addToList {
  font-size: 25px;
  height: 46px;
  margin-left: 50px;
}

#genre,
#title,
#author,
#description {
  font-size: 35px;
  font-weight: 500;
}

#titleContentList,
#authorContentList,
#genreContentList,
#descriptionContentList {
}
label {
  font-weight: 900;
  font-size: 33px;
}
#footerList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
/* "https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" */
/* https://images.unsplash.com/photo-1529148482759-b35b25c5f217?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fGxpYnJhcnl8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60 */
